h1 {
    text-align: center;
}

.container {
    margin: auto;
    align-items: center;
    padding-bottom: 100px;
}

.card-container {
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

input {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; 
    display: block;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 12px;
    cursor: pointer;
    border: none;
    background-color: #7b7b7b;
    width: 60px; 
    height: 60px; 
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.pagination button:hover {
  /* background-color: #828282;  */
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.pagination button.active {
    background-color: #3c3c3c;
}

.filters {
    margin: 40px auto; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 10px; 
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 40px; 
    width: 150px;
  }
  
  .model-header {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'maven';
  }

  .pages {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    margin-top: 20px;    /* Adjust as needed */
  }