h1 {
    padding-top: 100px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 100%;
}

.about-desc {
    margin: auto;
    text-align: center;
    align-items: center;
    width: 50%;
    font-size: 1.25em;
}

.team-container {
    margin: auto;
}

.tools-container {
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
.data-sources-container {
    padding-bottom: 100px;
}
