.splashtext{
    color: white;
    font-family: 'maven';
  }
  
  .splash-row-container{
    display: flex !important;
    flex-direction: column !important;
  }

  .carousel {
    width: 65vmin;
  }
  
  .carousel-img {
    width: 100%;
    height: 100%;
    max-height: 40vmin;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(50%)
  }
  
  .columntext{
    max-width: 60vmin;
  }
  
  .landing {
    background-image: url(../images/banner.jpg);
    align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }
  
  .maintext{
    font-size: calc(1.375rem + 3vw);
  }

  .badge {
    background-color: #003556 !important;
  }

  .list-group {
    border-radius: 0.5rem;
  }

  .list-group-item {
    background-color: #A6DDFF;
    font-size: 1.25rem;
    color: #666;
  }
  
 .mission-text {
    font-size: 1.25rem;
    padding: 1rem 1rem 0.45rem;
 }

 .btn-outline-primary {
    --bs-btn-hover-bg: #A6DDFF;
    --bs-btn-color: #666;
    --bs-btn-border-color: #003556;
    --bs-btn-hover-color: #003556;
 }

 .donate-section {
  margin-top: 50px;
 }

 .btn-outline-info {
  --bs-btn-hover-bg: #A6DDFF;
  --bs-btn-color: #666;
  --bs-btn-border-color: #003556;
  --bs-btn-hover-color: #003556;
}