@font-face {
  font-family: "maven";
  src: url("./fonts/MavenPro-Bold.ttf") format("truetype");
}

.nav-item {
  margin: 0 1.5rem;
  font-size: 1.25rem;
}

.card-instance {
  border: 1px solid #ccc;
  padding: 10px;
  transition: transform 0.3s;
  overflow: hidden;
  background-color: #dcf1ff;
}

.card-instance:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-instance img {
  background-color: white;
  object-fit: cover; 
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.pricing-table {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-img-top {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  margin-top: 10px;
}

p {
  color: #666;
  margin-bottom: 8px;
}

.summary-text {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.graphs,
.yelp-reviews {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.h2-section {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.therapist-profile {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.profile-header {
  display: flex;
}

.card-img-top {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  max-height: 250px;
  max-width: 250px;
}

.profile-info {
  flex-grow: 1;
}